@font-face {
    font-family: Calculator;
    src: url(/digital-7.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Share+Tech+Mono&display=swap");

html,
body {
    height: 100%;
}

body {
    background: no-repeat;
}

.calculator {
    background-color: #9fd0ea;
    width: 300px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 6px 0 #8ecaeb, 0 8px 10px rgba(0, 0, 0, 0.75);
    font-family: "Share Tech Mono", monospace;
}

.result {
    background-color: #efefef;
    color: #3b3b32;
    width: 90%;
    margin: 8px 0 20px 10px;
    text-align: right;
    height: 50px;
    line-height: 50px;
    font-size: 42px;
    padding-right: 10px;
    overflow: hidden;
    font-family: Calculator;
    box-shadow: 0 5px 0 #51afe1, 0 2px 5px rgba(0, 0, 0, 0.75);
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    background: #f1faeb;
    padding: 10px;
    width: 15%;
    color: #000;
    float: left;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 0 #51afe1, 0 2px 5px rgba(0, 0, 0, 0.75);
    user-select: none;
}

ul li:active {
    position: relative;
    top: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
}

.btn-red {
    background-color: #fd9fa9;
}

.btn-yellow {
    background-color: #efff93;
}

.signature {
    color: #fff;
    font-size: 0.75rem;
    position: relative;
    float: right;
    top: 4px;
    z-index: -1;
    width: 200px;
}

/* #48D070 */
/* #9FD0EA */
/* #EFEFEF */
/* #F1FAEB */
/* #EFFF93 */
/* #FD9FA9 */
